html, 
body {
    height: 100%;
    background-color: #e2e3e8;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}
#btEdit {
  cursor: pointer;
}
#btEdit:hover {
  transition: 1s ease;
  color: #f90;
}
#overlayScreen {
  z-index:10;
  position:fixed;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.5);
}
.loading-screen {
    display:none;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background-color:rgba(0,0,0,0.9);
}
.deconstructed {
  position: relative;
  margin: auto;
  height: 1em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 7vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}
.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #F90;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 3s 1;
}
E
.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 3s 1;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 3s 1;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 3s 1;
}

@keyframes wiggle {
    0% {-webkit-transform:rotate(4deg);}
    50% {-webkit-transform:rotate(-4deg);}
    100% {-webkit-transform:rotate(4deg);}
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}
.no-apps {
    text-align:center;margin-top:50px;
}
.main-box {
    margin: 50px auto;
    height: 500px;
    width: 385px;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-clip: padding-box;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.20);
}
.app-wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    font-family: montserratregular,'Open Sans',sans-serif;
    font-size: 14px;
}
.app-box {
    margin: 50px auto;
    height: auto;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.20);
}
.manage-box {
    margin: 50px auto;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-clip: padding-box;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.20);
}
.modify-box {
    margin: 50px auto;
    height: 500px;
    width: 385px;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-clip: padding-box;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.20);
}
.drag-drop-area {
  background-color: #F90;
  border: 1px solid #000;
  padding: 20px;
  outline: #63594a dashed 1px;
  outline-offset: -10px;
}
.drag-drop-area-text {
  padding: 8px;
  margin:auto;
  cursor: pointer;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}
.drag-drop-area:hover {
  cursor: pointer;
}
.app-window {
  height:180px; 
  display: block; 
  margin:auto; 
  padding: 65px;
  text-align: center;
}
.add-app-logo {
    padding:55px;
    display:none;
    background-image:url('../static/default_logo.png');
    background-size: cover;
    text-align: center;
}
.sub-header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  padding-top:10px;
  position: sticky;
  top:0;
  z-index:2000;
  text-align:center;
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 7px solid #f90;
  margin-left: auto;
  margin-right: auto;
}
.btn {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}
.confirm-btn {
    background: #f90;
    text-shadow: none;
    border: none;
    color: #494d55;
}
.confirm-btn:hover {
    background: #e18d0f;
    color: #494d55;
}
.cancel-btn {
    background: #fff;
    color: #494d55 !important;
    border-color: #9a9fa8;
    cursor: pointer;
    cursor: pointer;
}
.cancel-btn:hover {
    background: #f6f5f5;
    color: #494d55 !important;
    border-color: #9a9fa8;
}
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}
.editable .fileInput{
  cursor: pointer;
  border: 1px solid #fff;
  text-align:left;
  display: block;
  color: #494d55;
  background-clip: padding-box;
}
.editable {
  border: 1px solid #fff;
}
.editable:hover {
  cursor: text;
  border: 1px dashed #000;
}
.editable:focus {
  cursor: text;
  border: 1px solid #000;
  background-color: #fff;
  outline-color:#494d55;
}
.editable .fileInput{
    white-space: nowrap;
    padding: 5px;
    width:323px;
    overflow: hidden !important;
}
.editable.app-title * {
    display:inline;
    white-space:nowrap;
}
.fileInput:hover{
    cursor: pointer;
    border: 1px solid #000;
}
.manage {
  width: 100%;
  text-align: left;
}
.manage td, .manage th {
  border: 1px solid #ddd;
  padding: 8px;
}
.manage tr:nth-child(even) {
  background-color: #f2f2f2;
}
.manage th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #494d55;
  color: white;
}
.column1 {
  width: 20%;
}
.column2 {
  width: 40%;
}
.column3 {
  width: 40%;
}
.modal-custom {
  margin-top: 100px;
}
.step-wrapper {
    text-align: left;
    margin-top: 15px;
    margin-bottom:5px;
}
.dragover {
  /* some parts from https://css-tricks.com/drag-and-drop-file-uploading/ : */
  outline-offset: -20px;
  background-color: #ffc671 !important;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.dbpathField {
  margin-top: 20px;
}
.browse-btn {
  padding: .15rem .5rem;
  font-weight: unset;
}
.dbpath {
  overflow: hidden;
  font-weight: 200;
  padding: .375rem .5rem;
}
.custom-file-label::after {
  padding: .375rem .5rem;
}
.browseFiles {
  cursor:pointer;
}
.delete-app-button {
  position:absolute;
  text-align:center;
  font-size: 30px;
  font-weight: bold;
  animation: wiggle 0.4s infinite;
  cursor:context-menu;
  background:white;
  border-radius: 22.5px;
  width: 45px;
}
.delete-app-button {
  top: -22.5px;
  right: -22.5px;
  color:red !important;
}
.delete-app-button:hover,
.delete-app-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color:lightgray;
}
.btn-add-app {
  position:absolute;
  font-size: 100px;
  font-weight: bold;  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:#b4b6bd !important;
}
.add-app-box {
    margin: 50px auto;
    height: auto;
    padding: 45px 30px;
    position: relative;
    outline: #c7c9d0 dashed 2px;
    /*border: 2px dashed #c7c9d0;
    border-radius: 5px;*/
    background-clip: padding-box;
}
.add-app-box:hover,
.add-app-box:focus {
    background-color:#ced1da;
    cursor:pointer;
    webkit-transition: background-color .15s linear;
    transition: background-color .15s linear;
}
.index-dragover {
  /* some parts from https://css-tricks.com/drag-and-drop-file-uploading/ : */
  outline-offset: -20px;
  outline-color: #b1b3b9;
  background-color: #ced1da;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.btn-add-app-dragover {
  font-size: 120px;
  -webkit-transition: font-size .15s ease-in-out;
  transition: font-size .15s ease-in-out;
}
.add-app-box-logo {
    height:180px;
    display:block;
    margin:auto;
    background-color:#d9dbe2;
}
.add-app-box-title {
    width:30%;
    height:25px;
    background-color:#d9dbe2;
    margin-top: 15pt;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.add-app-box-desc {
    width:80%;
    height:15px;
    background-color:#d9dbe2;
    margin-top: 0;
    margin-bottom: 1rem;
}